# Clojure
**/.cpcache
**/.clj-kondo
**/.lsp

# Neovim
.config/nvim/plugin/
.config/nvim/autoload/

# Emacs
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/themes

# Junk
[Tt]humbs.db
*.icloud
*.DS_Store
*~
*.swp
*.swo
