"*":
  core:
    disabledPackages: [
      "fonts"
    ]
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    tabType: "soft"
  "exception-reporting":
    userId: "8b84d3ac-2782-b2c9-d878-1d6fe1353d26"
  fonts:
    preview: "The Quick brown fox { 0 !== \"O\" }sdsd"
  "gruvbox-plus-syntax": {}
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  "tree-view": {}
  welcome:
    showOnStartup: false
