* {
    border-radius: 0;
    border: none;
    outline: none;
}

window {
    font-size: 1rem;
    font-family: "JetBrains Mono";
    background-color: rgba(50,50,50,0.9);
    color: white;
}

#entry {
    padding: 0.25em;
}

#entry:selected {
    background-color: rgb(195,220,240);
}

#text:selected {
    color: rgb(50,50,50);
}

#input {
    background-color: rgba(50,50,50,0.5);
    color: white;
    padding: 0.25em;
}

#text {
    padding: 0.5em;
}
