! Basic terminal stuff
URxvt*font: xft:Inconsolata:size=12:antialias=true:hinting=true
URxvt.scrollBar: false
xterm*termName: xterm-256color
URxvt.iso14755: false
URxvt.iso14755_52: false

! Use this guide: https://nixmeal.wordpress.com/2012/07/24/copypaste-text-in-urxvt-rxvt-unicode-using-keyboard/
URxvt.perl-ext-common: default,clipboard,matcher
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Clickable URLs
URxvt.url-launcher: /usr/bin/iceweasel
URxvt.matcher.button: 1

! A mashup of two color schemes from xcolors.net ("Cotton Candy" and "Autumn")
*.foreground:   #adadad
*.background:   #202020
*.cursorColor:  #adadad
*.color0:       #202020
*.color1:       #707070
*.color2:       #808080
*.color3:       #909090
*.color4:       #a0a0a0
*.color5:       #505050
*.color6:       #606060
*.color7:       #adadad
*.color8:       #404040
*.color9:       #e72d6a
*.color10:      #cf275f
*.color11:      #b52253
*.color12:      #ead41f
*.color13:      #b1b360
*.color14:      #92893d
*.color15:      #e7e7e7
