{:mvn/repos {"cognitect-dev-tools"
             {:url "https://dev-tools.cognitect.com/maven/releases/"}}

 :aliases
 {:nREPL {:extra-deps {nrepl/nrepl       {:mvn/version "1.0.0"}
                       cider/cider-nrepl {:mvn/version "0.28.7"}}
          :main-opts  ["-m" "nrepl.cmdline"
                       "--middleware" "[cider.nrepl/cider-middleware]"
                       "--interactive"]}
  :portal {:extra-deps {djblue/portal {:mvn/version "0.34.2"}}}}}
